<app-navbar></app-navbar>

<div>
  <app-add-item></app-add-item>
  <div *ngIf="items?.length > 0;else noItems">
    <ul *ngFor="let item of items">
      <li class="collection-item"><div><strong>{{item.title}}:</strong><a href="#" class="secondary-content">
          <i (click)= "editItem($event, item)" class="fa fa-pencil"></i>
          <i *ngIf="editState && itemToEdit.id== item.id" (click)= "clearState()" class="fa fa-compress"></i>
        </a></div><div>{{item.description}}</div><div>{{item.date}}</div> 
    <div *ngIf = "editState && itemToEdit.id == item.id">
      <form (ngSubmit)="updateItem(item)">
          <div class=row>
              <div class="input-field col s6">
                <input type="text" placeholder="Add Title"[(ngModel)]="item.title" name="title">
          
              </div>
              <div class="input-field col s6">
                  <input type="text" placeholder="Add Description"[(ngModel)]="item.description" name="description">
                  
                </div>
                <div class="input-field col s6">
                  <input type="date"[(ngModel)]="item.date" name="date">
                  
                </div>
                <div>
                <input type="submit" value="Update Event" class="btn blue">
              </div>
                <button (click)="deleteItem($event, item)"class="btn red">Delete Event</button>
            </div>
      </form>

    </div>
    </li>
    </ul>
  </div>

  <ng-template #noItems>
    <hr>
    <h5> There are no events to list </h5>
  </ng-template>
</div>

