<div class="card">
  <div class="card-content">
    <span class="card-title"> Add Event </span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class=row>
        <div>
            <label>Title of event</label>
          <input type="text" placeholder="Add Title"[(ngModel)]="event.title" name="title">
          
        </div>
        <div>
            <label>Description of event</label>
            <input type="text" placeholder="Add Description"[(ngModel)]="event.description" name="description">
            
          </div>
          <div>
              <label>Date of event</label>
            <input type="date"[(ngModel)]="event.date" name="date">
            
          </div>
          <input type="submit" value="Submit" class="btn">
      </div>
    </form>

  </div>
</div>