<app-navbar></app-navbar>

<br>
<app-gallery-add></app-gallery-add>
<br>

<select>
    <option *ngFor="let gallery of userGalleries" value="gallery.id">{{gallery.name}}</option>
</select>
<button (click)="logGalleries()">Log Galleries</button>

<div class="container">
<h2>Photo Gallery</h2>
<div class="jumbotron">
<input type="file" (change) = "featuredPhotoSelected($event,'url1')"><br>
<img *ngIf="(featuredPhotoStream | async)?.url1 as url" [src] ="url" alt="a photo 1"> 
<hr>
<input type="file" (change) = "featuredPhotoSelected($event,'url2')"><br>
<img *ngIf="(featuredPhotoStream | async)?.url2 as url" [src] ="url" alt="a photo 1"> 

<hr>
<div class="container">
<h3>Photo List</h3>
<div>
<input type="file" (change) = "photoImageList($event)"><br>
<img *ngFor="let Photo of photoListStream | async " [src] ="Photo.url" alt="a photo in list"> 
<hr>
</div>
</div>
</div>
</div>
<!-- <body>
<div class="container">
    <app-employee></app-employee>

</div>
</body> -->
