#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
  color: #000000;
  text-indent: 20px;
  background-color: #cccccc;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}


.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  text-decoration: none;
  color: #000000;
}

  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin-left: 0px;
  }
