<nav class="navbar navbar-expand-lg navbar-dark fixed-top mainNav" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Maker Net</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" id="gallery1">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" id="gallery1">About</a>
     </div>
        </li>
        <li class="nav-item">
          <a routerLink="/gallery1" class="nav-link" id="gallery1">Gallery</a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link" id="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contributions" class="nav-link" id="contribute">ContributeToProject</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservation" class="nav-link" id="reserve">ReserveSpace</a>
        </li>
     
        <li class="nav-item">
          <a routerLink="/items" class="nav-link" id="gallery1">Events</a>
        </li>

        <li class="nav-item">
          <a routerLink="/Contact" class="nav-link" id="gallery1">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div [style.padding-top]="spacerHeight"></div>

  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/dashboard" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link" id="projects">Projects</a>

        </li>
        <li class="nav-item">
          <a routerLink="/contributions" class="nav-link" id="contributions">ContributeToProject </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservation" class="nav-link" id="reserve">Reserve Space</a>
        </li>

        <li class="nav-item">
          <a routerLink="/items" class="nav-link" id="items">Items </a>
        </li>
        <li class="nav-item">
          <a routerLink="/gallery1" class="nav-link" id="gallery1">gallery1 </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Project Images</a>
            <a class="dropdown-item" href="#">Equipment Images</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="toprightcorner">
            <button (click)="logout()" style="color:darkgrey">Logout</button>
          </div>
        </li>
      </ul>
    </div>

  </nav>
   -->
