<app-navbar></app-navbar>
<div id="wrapper">

  <div id="page-content-wrapper">
    <form>
      <div style="padding-bottom:15px;" class="col-xs-12 col-lg-6">
        <span>Project</span>
        <select placeholder="Select project" class="form-control" [(ngModel)]="project">

          <option *ngFor="let project of projectData" [ngValue]="project">{{project.title}}</option>
        </select>
        <br />
        <div>
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />

        </div>

        <div>
          <button class="btn btn-success"  (click)="onSubmit">Submit</button>
        </div>

      </div>
</form>
  </div>
  </div>
